@charset "utf-8";
body{
	
	font-size: 16px;
}
img:hover{
	opacity: 0.7;filter: alpha(opacity=70);transition:all 1.2s linear;-moz-transition:all 1.2s linear;-o-transition:all 1.2s linear;-webkit-transition:all 1.2s linear; -webkit-transform:scale(1.12);-moz-transform:scale(1.12);-o-transform:scale(1.12);-m-transform:scale(1.12);transform:scale(1.12);
}
/* tv页面CSS */
/* -----------------------tv页面banner: ;------------------------------------ */
.tv-banner{
	min-width: 1200px;
	height: 300px;
	overflow: hidden;
}
.tv-top-product{
	height: 200px;
	width:100%;
	background: #f7f7f7;
	margin-top: 10px;
}
.tv-top-product-img{
	width: 290px;
	height: 180px;
	float: left;
	margin: 10px 10px;
    width: 300px;
	height: 180px;
	overflow: hidden;
}
.tv-top-product-img img{
	
width: 290px;
}
.tv-top-product-intro{
	padding: 13px;
}
.tv-top-product-intro ul li{
	padding-top: 7px;
	text-align: left;
	font-size: 16px;
	

}

.tv-top-product-intro ul li:first-of-type{
	
	font-weight: 600;
}
.tv-top-product-intro ul li:last-of-type{
	text-align: right;
}
.tv-top-product-intro-price{
	font-size: 17px;
	color: #D80609;
	font-weight: 700;
}
.tv-product-sort ul li{
display: inline-block;
	line-height: 45px;
}
.tv-product-sort{
	background:#F9F0F1;
	height: 45px;
	margin-top: 10px;
}
.tv-product-left{
	width: 30%;
	float:left;
}
.tv-product-left img{
	width: 300px;
	height: 200px;
	padding: 10px;
}

.tv-product-mid{
	width: 40%;
	float:left;
	padding:  10px;
	
}
.tv-product-mid-p{
	width: 15%;
	float:left;
	padding:50px 10px 10px 10px;
}
.tv-product-right{
	width: 15%;
	float:left;
	text-align: right;
}
.tv-product-right li{
	margin-top: 10px;
}
.btn-p{
	background: #625757;
	color:#fff;
}
.tv-product{
	height: 200px;
}
.tv-product-p-title{
	font-size: 20px;
	color: #BD080B;
}
.tv-product-p-title-s{
	font-size: 18px;
	color: #BD080B;
}
/* -----------------------net页面 ;------------------------------------ */

.online-hot{
	height: 160px;
	margin-top: 15px;
	text-align: center;
}

.online-hot-content li{
	display: inline-block;
	width: 230px;
	height: 165px;
	overflow: hidden;
}
.online-hot-content li img{
	width: 220px;
	height: 165px;
	border: 1px solid #E1D7D7;
}
.net-title{
	text-align: left;
	line-height: 25px;
	font-size: 22px;
	font-weight: 500;
	margin-top: 15px;
}

.online-hot-content{
	margin-top: 15px;
}

.net-ad-baidu ul li{
	display: inline-block;
}
.net-ad-baidu ul li{
	width: 30%;
}
.net-ad-left{
	width: 30%;
	float: left;
}
.net-ad-mid{
	width: 40%;
	float: left;
	text-align: left;
	line-height: 23px;
	padding-top: 15px;
}

.net-ad-right{
	width: 30%;
	float: left;
	
}
.net-ad{
	border: 1px solid #E1D7D7;
	height: 160px;
	line-height: 160px;
	margin-top: 10px;
	
	
}
.net-ad:hover{
	background: #F4EEEE;
}

.net-box{
	margin-top: 15px;
	text-align: center;
}
.net-softnews{
	width: 100%;
	
}
.net-softnews-item{
	border: 1px solid #E1D7D7;
	float: left;
	width: 32%;
	height: 130px;
	margin:5px 0px 5px 10px ;
}
.net-softnews-item-text{
	float: left;
}
.net-softnews-item-img{
	float: left;
	width: 180px;
}
.net-softnews-item-img img{
	width: 180px;
	height: 120px;
	padding: 10px;
}
.net-softnews-item-text ul li{
	list-style-type:disc;
	width: 150px;
	line-height: 38px;
}
/* -----------------------net页面 ;------------------------------------ */

.huwai{
	height: 160px;
	margin-top: 15px;
	text-align: center;
}
.huwai-content{
	margin-top: 15px;
}
.huwai-content li{
	display: inline-block;
	width: 260px;
	height: 200px;
	overflow: hidden;
	margin: 10px;;
}
.huwai-content li img{
	width: 260px;
	height: 165px;
	
}
.huwai-box{
	clear: both;
	width: 1200px;
	margin: 0 auto;
	height: 240px;
}

.huwai-hj{
	margin-top: 10px;
}

/* -----------------------net页面 ;------------------------------------ */

.yiren{
	height: 220px;
	margin-top: 15px;
	text-align: center;
}

.yiren-content li{
	display: inline-block;
	width: 180px;
	height: 220px;
	overflow: hidden;
}
.yiren-content ul li img{
	width: 170px;
	height: 220px;
	border: 1px solid #E1D7D7;
}

.yiren-content{
	margin-top: 15px;
}

/* -----------------------商品详情页面 ;------------------------------------ */
.detial-buy{
	border: 1px solid #E1D7D7;
	height: 350px;
	margin-top: 15px;
}
.detial-buy-left{
	width: 35%;
	padding: 30px 15px 10px 25px;
	float: left;
	margin-right: 50px;
	
}
}
.detial-buy-right{
	width: 55%;
	float: left;	
}
.detial-buy-right-btn{
	height: 60px;
	line-height: 60px;
}
.detial-buy-right-btn ul li{
	display: inline-block;
	margin-left: 20px;
}

.detial-buy-right-title{
	margin-top: 30px;
	height: 45px;
	line-height: 45px;
	font-size: 24px;
	color: #000;
}

.detail-p{
	font-size: 22px;
	color: #EB0003;
}

.detial-buy-right-price{
	height: 45px;
	line-height: 45px;
}
.d-w-h{
	height: 45px;
	width: 200px;
	font-size: 20px;
}
.detial-buy-right-pama{
	height: 130px;
}

.detial-buy-right-pama li{
  line-height: 45px;
}
.d-tab{
	width: 100px;
}


























